src/main/resources/profiles.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://imagine.com/imagine-interface"
           targetNamespace="http://imagine.com/imagine-interface" elementFormDefault="qualified">

    <xs:element name="getProfileRequest">
        <xs:complexType>
            <xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProfileResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>




</xs:schema>